function Tetrimino.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push static 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Tetrimino.initPiecesArray 1
pop temp 0
push constant 0
not
pop static 2
label IF_FALSE0
push argument 0
pop this 0
push constant 0
pop this 1
push constant 3
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Tetrimino.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Tetrimino.rotate 0
push argument 0
pop pointer 0
push this 1
push argument 1
add
push this 0
push static 1
add
pop pointer 1
push that 0
call Utils.mod 2
pop this 1
push constant 0
return
function Tetrimino.asArray 1
push argument 0
pop pointer 0
push this 0
push static 0
add
pop pointer 1
push that 0
pop local 0
push this 1
push local 0
add
pop pointer 1
push that 0
return
function Tetrimino.getX 0
push argument 0
pop pointer 0
push this 2
return
function Tetrimino.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Tetrimino.getY 0
push argument 0
pop pointer 0
push this 3
return
function Tetrimino.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Tetrimino.draw 7
push argument 0
pop pointer 0
push pointer 0
call Tetrimino.asArray 1
pop local 0
push constant 0
pop local 5
label WHILE_EXP0
push local 5
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 6
label WHILE_EXP1
push local 6
push constant 4
lt
not
if-goto WHILE_END1
push local 0
push constant 4
push local 5
push constant 4
call Math.multiply 2
push local 6
add
call Utils.inArray 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 8
push constant 12
push this 2
push local 6
add
call Math.multiply 2
add
push constant 1
add
pop local 1
push constant 8
push constant 12
push this 3
push local 5
add
call Math.multiply 2
add
push constant 1
add
pop local 2
push local 1
push constant 10
add
pop local 3
push local 2
push constant 10
add
pop local 4
push local 1
push local 2
push local 3
push local 4
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP1
label WHILE_END1
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Tetrimino.initPiecesArray 2
push argument 0
pop pointer 0
push constant 7
call Array.new 1
pop static 0
push constant 2
call Array.new 1
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 13
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
call Array.new 1
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
call Array.new 1
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
call Array.new 1
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
