function UI.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push pointer 0
return
function UI.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function UI.draw 0
push argument 0
pop pointer 0
push constant 6
push constant 6
push constant 130
push constant 6
call Screen.drawLine 4
pop temp 0
push constant 7
push constant 7
push constant 129
push constant 7
call Screen.drawLine 4
pop temp 0
push constant 130
push constant 6
push constant 130
push constant 250
call Screen.drawLine 4
pop temp 0
push constant 129
push constant 7
push constant 129
push constant 249
call Screen.drawLine 4
pop temp 0
push constant 6
push constant 250
push constant 130
push constant 250
call Screen.drawLine 4
pop temp 0
push constant 7
push constant 249
push constant 129
push constant 249
call Screen.drawLine 4
pop temp 0
push constant 6
push constant 6
push constant 6
push constant 250
call Screen.drawLine 4
pop temp 0
push constant 7
push constant 7
push constant 7
push constant 249
call Screen.drawLine 4
pop temp 0
push constant 0
return
